#quadro h1 {
	text-align:center;
	color:#DFCE00;
	font: 18px Arial,Verdana,sans-serif;
	padding-top:15px;
	
}
	

#quadro p {
	color:#909090;
	font: 14px Arial,Verdana,sans-serif;
	padding-bottom:20px;
	text-align:center;
	
}